.btn {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    text-align: center;
}

.btn--blue {
    background-color: blue;
    width: 100px;
}

.btn--red {
    background-color: brown;
    width: 100px;
}

.error {
    color: red;
    font-size: 12px;
}